@model IEnumerable<SchoolAppLabb2.Models.Teacher>

<h1>Main Menu</h1>
<ul>
    <li><a href="/Home/GetTeachersForProgramming1">Get Teachers for Programming 1</a></li>
    <li><a href="/Home/GetStudentsWithTeachers">Get Students with Teachers</a></li>
    <li><a href="/Home/GetStudentsForProgramming1">Get Students for Programming 1</a></li>
    <li><a href="/Home/EditCourseTopic/2">Edit Course Topic</a></li>
    <li><a href="/Home/UpdateTeacherName">Update Teacher's Name</a></li>
</ul>